<html>
<head>
    <meta name="referrer" content="same-origin">
    <style>
    table{
        width: 100%;
        max-width: 1100px;
        margin-bottom: 20px;
        border: 1px solid #7a7a7a;
        border-collapse: collapse;
        border-left: none;
        word-break: normal;
        line-height: 30px;
        text-align: center;
    }
    tr, th, td{
        border: 1px solid #7a7a7a;
    }
    </style>
</head>
<body>
    <h2>{{ user_name }}</h2>
    <p>最后更新时间：{{ last_update }}</p>
    <table>
    <tr><th>用户名</th> <td>{{ user_name }}</td></tr>
    <tr><th>用户id</th> <td>{{ uid }}</td></tr>

    <tr><th>粉丝数</th> <td>{{ attention }}</td></tr>
    <tr><th>直播间标题</th> <td>{{ title }}</td></tr>
    <tr><th>直播间短号</th> <td>{{ short_room_id }}</td></tr>
    <tr><th>原始直播间号</th> <td>{{ real_room_id }}</td></tr>
    <tr><th>注册时间</th> <td>{{ create_at }}</td></tr>
    <tr><th>曾用名</th> <td>{{ used_names }}</td></tr>
    </table>
</body>
</html>